
#overlay{
    display:none;
    /*overflow: auto; /* Enable scroll if needed */
	  height:100%;
	  width:100%;
	  background:rgba(0,  0, 0, .6);
	  position:fixed;
    top:0;

}
.close{
  float: right;
  font-size: 28px;
  font-weight: bolder;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#popup{
    position: absolute;
    width: 30%;
    left: 30%;
    padding: 20px;
    box-sizing: border-box;
    background:#021C35;
    top:430px;
    z-index:4;
    /**display:none;**/
}
